@media (max-width: 360px) {
    .headersub-container {
        margin-right: -29px;
    }
}
@media (max-width: 579px) {
    .tabelleZX {
        font-size: 11px;
    }
}
@media (min-width: 580px) {
    .tabelleZX {
        font-size: 24px;
    }
}


.styleforbid {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: not-allowed;
    text-decoration:line-through;
}

.headersub-container {}

.headerstyle {
    text-decoration:none;
    color: #000000;
}

.headerstyle:hover {
    text-shadow: 0px 0px 10px #818181;
}

.listmargin {
    width: 170px;
    margin: 5px;
}

.bookmargin {
    width:340px;
    margin:5px;
}

.tabelleZX {
    color: #FFFFFF;
    font-family: serif;
    text-align: center;
    padding: 10px;
    padding-top: 17px;
    margin: 10px;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.tabelleZXDesc {
    border-width: 2px;
    border-color: aqua;
    border-bottom-style: dashed;
}

header {
    padding: 8px;
    overflow: hidden;
}

footer {
    border-width: 20px;
    border-top-style: outset;
    border-top-color: initial;
    background: black;
    color: white;
    padding: 3px;
    margin-bottom: 3px;
    font-family: monospace;
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: -12px;
    cursor: default;
    overflow: scroll;
    overflow-x: hidden;
    text-overflow:ellipsis;
    height:40vh;
}

body {
    background-color: dimgrey;
    margin: 12px;
    margin-bottom: 0px;
}

h1 {
    border: solid;
    border-color: black;
    background-image: linear-gradient( 225deg, steelblue, lightsteelblue);
    margin-left: 25%;
    margin-right: 25%;
    text-shadow: 0px 0px 10px black;
}

p {
    color: silver;
    font-size: 18px;
    font-family: Arial;
    margin: 5%;
    padding: 10px;
    background: #3f3f3f;
    border: outset;
    border-width: 5px;
}

a {
    text-decoration:none;
    color:inherit;
}

#headerbox {
    color: #000000;
    font-family: Consolas;
    font-size: 24px;
    text-align: center;
    padding:10px;
    padding-top:17px;
    margin-top: 10px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 10px;
    border-radius: 8px;
    background-color: #EFEFEF;
}

#headersub {
    float: right;
    display:none;
    margin-top:-18px;
    margin-right:18px;
    text-align: center;
    background-color: #EFEFEF;
    padding: 3px;
    text-decoration:none;
}

#headerherb {
    cursor: pointer;
    vertical-align: middle;
    display: inline;
}

#headersoil {
    cursor: pointer;
    vertical-align: middle;
    display: none;
}

#imagelist {
    display: flex;
    list-style: none;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
    background-image: linear-gradient( 22deg, steelblue, red);
}

#bigyellow {
    color: rgb(255, 242, 0);
    margin-top: 80px;
    text-align: center;
    font-family: Consolas;
}

#linktype {
    color: rgb(50, 250, 233);
    text-decoration: none;
}

#linktype_y {
    color: #fcdd18;
    text-decoration: none;
}